* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

.font-family {
 font-family: 'Inter', sans-serif;
 
}

.navbar {
    max-width: 1600px;
    background-color: #fff;
}

.navbar .container {
  
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.menu {
     display: flex;
     gap: 32px;

}

nav .menu li{
    list-style-type:none;
    
}

nav .menu li a {
    text-decoration: none;
    color: #000000;
   
}



.btn {
   background-color: #469165;
   border: 0px;
   padding: 12px 16px;
   border-radius: 4px;
   color: #FFFFFF;
   cursor: pointer;
}




.banner {
    
    display: flex;
    justify-content: center;
    /* padding: 40px 20px; */
    padding: 120px 70px 134px 120px;
    align-items: center;
    text-align: center;
     max-width: 1600px;
    /* min-height: 100vh;  */
    background-image: url("./hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;     
    background-position: center; 
   
}

.banner .benner-content{

     max-width: 820px;

}

.badge {
    display: inline-flex;
    background-color: #FFFFFF;
    color: #469165;
    line-height: 19px;
    text-align: center;
    border-radius: 1000px;
    margin-bottom: 22px;
    gap: 8px; 
    padding: 8px 12px;
    font-weight: bold;
    
  
    
}


h1{
    align-items: center;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
   gap:16px;
    margin-bottom: 32px;

}
.h1-1ast-line{
    color: #FFFFFF;
}

.highlight {
    color: #30B868;
}

.benner-content p {

    font-size: 18px;
    line-height: 24px; 
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 0%;

    margin-bottom: 32px;

}

.benner-btn  {
      display: flex;
      justify-content: center;
      gap: 16px;
      flex-wrap: wrap;
    }                                                                                                                                                                                                                                                                                                                                                                       

.btn2 {
    background:#469165;
      color: #FFFFFF;
      border: none;
      padding: 14px 22px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
}

.btn3{
    background: transparent;
      color: #FFFFFF;
      border: 1px solid rgba(255,255,255,0.4);
      padding: 14px 22px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
}




.notes-container {
    width: 1600px;
    height:  448px;
    
    /* padding:120px; */
    padding: 0px 120px;
}

.notes-content {
  
    width:100% ;
    max-width: 1360px;
    min-height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}
.notes-content h2 {
    font-size:  48px;
    font-weight: bold;
    gap: 16px;
}
.notes-content p{
    color: #627382;
}



.notes-cards {
     width:100% ;
    max-width: 1360px;
    min-height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    margin-top: 44px;
}


.card {
  
    width: 322px;
    height: 300px;
    padding:24px;
    text-align: center;

}


.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
     margin: 0 auto 16px;  /* eta niye onek tension korechi */
   
}
.notes-cards .card h4 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}





.second-brain-container{
    /* width: 100%; ei container e somossa ache */
    max-width: 1600px;
    padding: 120px;
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
  
}


.brain-content {
    margin: 102px 60px;
    width: 51%;
    max-width: 700px;
    /* margin-top: 102px;
    margin-bottom: 102px;
    margin-left: 60px;
    margin-right: 0px; */
    text-align: left;
    padding: 0px;
    


}

.brain-content #solution {
    color: #469165;
    line-height: 20px;
    font-weight: 500;
    font-size:  16px;
   
}

.brain-content h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    line-height: auto;
    margin: 16px 0px;
}

.brain-content .info-content {
    color: #627382;
    margin-bottom: 40px;
    line-height: 20px;
    font-size: 16px;
   font-weight: 700;
   min-height: 60px;
  
}

.CheckCircle-icon li{
    /* border: #F95555 1px solid; */
    display: flex;
   list-style: none;
   gap: 6px;
    margin-bottom: 16px;
}

.CheckCircle-icon li .text-highlite {
    color: #001931;
    font-size: 16px;
    line-height: 20px;
}


.early-access-container {
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     border: #F95555 1px solid;
    padding: 0px 120px 120px 120px;
    margin: 0px;
   
   
}

.early-content {
    /* max-width: 1360px; */
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

     border: #F95555 1px solid;
    background-color: #F7F6F2;
     /* padding: 80px 40px;  */
   
}

.early-content h2 {
   
    font-size: 40px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 16px;;
}

.early-content .description-1 {
     /* max-width: 480px; */
    text-align: center;
    color: #627382;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 400;
     
}

.btn-4 {
    display: flex;
    justify-content: center;
    gap: 10px;
      text-align: center;
      align-items: center;

    max-width: 194px;
    min-height: 52px;
     background:#469165;
      color: #FFFFFF;
      border: none;
      padding: 16px 12px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;

     margin-bottom: 24px;
      
}

.early-content .description-2 {
   font-size: 16px;
   color: #627382;
   line-height: 20px;
}