* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-family {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.navbar {
    width: 100%;
    background-color: #fff;
}

.navbar .container {
  
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.menu {
     display: flex;
     gap: 32px;

}

nav .menu li{
    list-style-type:none;
    
}

nav .menu li a {
    text-decoration: none;
    color: #000000;
   
}



.btn {
   background-color: #469165;
   border: 0px;
   padding: 12px 16px;
   border-radius: 4px;
   color: #FFFFFF;
   cursor: pointer;
}




.banner {
    
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh; 
    background-image: url("./hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;     
    background-position: center; 
   
}

.banner .benner-content{

     max-width: 820px;

}

.badge {
    display: inline-flex;
    background-color: #FFFFFF;
    color: #469165;
    line-height: 19px;
    text-align: center;
    border-radius: 1000px;
    margin-bottom: 22px;
    gap: 8px; 
    padding: 8px 12px;
    font-weight: bold;
    
  
    
}


h1{
    align-items: center;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
   gap:16px;
    margin-bottom: 32px;

}
.h1-1ast-line{
    color: #FFFFFF;
}

.highlight {
    color: #30B868;
}

.benner-content p {

    font-size: 18px;
    line-height: 24px; 
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 0%;

    margin-bottom: 32px;

}

.benner-btn  {
      display: flex;
      justify-content: center;
      gap: 16px;
      flex-wrap: wrap;
    }                                                                                                                                                                                                                                                                                                                                                                       

.btn2 {
    background:#469165;
      color: #FFFFFF;
      border: none;
      padding: 14px 22px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
}

.btn3{
    background: transparent;
      color: #FFFFFF;
      border: 1px solid rgba(255,255,255,0.4);
      padding: 14px 22px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
}

.notes-container {
    /* border: 1px solid green; */
    /* display: flex;
    justify-content: center;
    align-items: center;
     text-align: center; */
    width: 100%;
    /* padding:120px; */
    padding: 0px 120px;
}

.notes-content {
    border: #30B868 1px solid;
    width:100% ;
    max-width: 1360px;
    min-height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

